body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Serif', serif;
}
h1, h2 {
    margin: 10px;
}
.container {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}
.header {
    background-color: darkcyan;
}
.header__color {
    text-align: center;
    color: white;
    font-size: 24px;
}
.guess-color {
    font-size: 64px;
}
.header__buttons {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
.button-create {
    margin-right: 500px;
}
.button {
    border: 0px solid hsl(60, 100%, 100%);
    color:darkcyan;
    padding: 5px;
    font-size: 18px;
    transition: .2s;
}
.button:hover {
    background-color: darkcyan;
    color: white;
}
.colors {
    background-color: rgb(24, 23, 23);
}
.colors__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.colors__item {
    width: 300px;
    height: 300px;
    background-color: rgb(38,168,105);
    border-radius: 40px;
    margin: 10px;
}

.block-1 {background-color: rgb(38, 92, 168);}
.block-2 {background-color: rgb(114, 168, 38);}
.block-3 {background-color: rgb(168, 38, 138);}
.block-4 {background-color: rgb(38,168,105);}
.block-5 {background-color: rgb(168, 79, 38);}
.block-6 {background-color: rgb(168, 38, 40);}

@media (max-width: 425px) {
    .button-create {
        margin-right: 0;
    }
    .colors__item {
        width: 150px;
        height: 150px;
    }
}
